@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

form {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
    padding-bottom: 40px;

    /* Active la 3D pour gérer la profondeur sans casser les arrière-plans */
    transform-style: preserve-3d;

    // stick to end page
    top: 20px;


    &::before,
    &::after {
        content: '';
        position: absolute;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 50px;
        background-color: white;
        box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.10);
    }

    /* 1er sous-plan (juste derrière) */
    &::before {
        top: -12px;
        left: 10px;  
        right: 10px;
        /* Décale physiquement l'élément vers l'arrière sur l'axe Z */
        transform: translateZ(-1px);
    }
    

    /* 2e sous-plan (tout au fond) */
    &::after {
        top: -22px;
        left: 20px;  
        right: 20px;
        /* Décale encore plus vers l'arrière */
        transform: translateZ(-2px);
    }
    text-align: start;
    font-family: $textfont;
    display: flex;
    flex-direction: column;
    label{
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 600;
    }
    input{
        @include input1;
        margin-bottom: 20px;
    }
    h1{
        font-family: $titlefont;
        color: black;
        font-weight: 500;
    }
    >a{
        color: $colortb;
        align-self: end;
        padding-bottom: 20px;
        font-weight: 500;
        &:hover{
            transform: scale(1.1);
        }
    }
    button{
        @include button1;
        margin-top: 20px;
    }
    >div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        a{
            color: $colorh;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (min-width :500px){
    form{
        width: 500px;
        justify-self: center;
    }
}