@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.s1lb{
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    .leaderboard{
        .lb-row{
            background-color: white;
            border-radius: 40px;
            margin: 10px 0px;
            height: 65px;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            text-align: center;
            align-items: center;
            span{
                font-family: $textfont;
            }
            .lb-rank{
                background-color: $colortb;
                color: white;
                border-radius: 30px;
                width: 60px;
                height: 60px;
                font-size: 30px;
                align-content: center;
                font-family: $titlefont;
            }
            .lbd2{
                display: grid;
                .lb-value{
                    color: black;
                    border-radius: 30px;
                    padding: 0 5px;
                    height: 30px;
                }
                .lb-pseudo{
                    text-align: center;
                    font-family: $titlefont;
                    font-size: 24px;
                }
            }
            .lb-pp{
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                }
            }
        }
    }
}