@use '../abstracts/variables' as *;

@mixin button1{
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 30px;
    border-style: solid;
    font-size: 20px;
    &:hover{
        transform: scale(1.05);
    }
}

@mixin input1{
    border-radius: 30px;
    border-width: 0;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);
    height: 50px;
    align-items: center;

    font-family: $textfont;
    font-size: 20px;
    padding-left: 10px;
    &::placeholder{
        font-family: $textfont;
        font-size: 20px;
        color: $colorplaceholder;
        font-weight: 300;
    }
}

@mixin match{
    font-family: $textfont;
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    .match-details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .match-details-live{
            display: flex;
            .match-details-games{
                letter-spacing: 10px;
            }
            .match-details-points{
                letter-spacing: 0px;
                padding: 0 5px;
                width: 25px;
            }
        }
        >span{
            letter-spacing: 10px;
            padding: 0 5px;
        }
        button{
            background-color: $colorh;
            color: white;
            border-style: none;
            border-radius: 30px;
            padding: 8px;
        }
    }
    .match-header{
        font-size: 18px;
        font-weight: 400;
        display: flex;
        gap: 10px;
    }

    .match-infos{
        font-size: 18px;
        font-weight: 400;
        display: flex;
        gap: 10px;
        place-self: end;
    }
}