@import url('https://fonts.googleapis.com/css2?family=Bangers&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

$bg: #F0F0F0;
$colortb: #D95525;
$colord: #2196DE;
$colorh: #00912E;
$colorplaceholder: #B0B0B0;
$titlefont: "Bangers";
$textfont: "TikTok Sans";

