@use '../abstracts/variables' as *;
@use '../components/profilemodify' ;

.modifymain{
    text-align: center;
    padding: 10px;
    .lillogo{
        width: 45px;
        justify-self: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
}